#
# Hour at which morning and evening is defined (24 hour clock)
#
AMPMDEF=20
#
# Define morning and afternoon
#
AM=0
PM=1
AMPMTEXT[$AM]="morning"
AMPMTEXT[$PM]="afternoon/evening"
#
# Eject tape if not at the weekend (Friday night/Saturday all day/Sunday morning
#
EJECT="TRUE"
NOEJECT="FALSE"
#
# Define eject or not for morning (0) and afternoon (1)
#
MON[0]=$EJECT
MON[1]=$EJECT
TUE[0]=$EJECT
TUE[1]=$EJECT
WED[0]=$EJECT
WED[1]=$EJECT
THU[0]=$EJECT
THU[1]=$EJECT
FRI[0]=$EJECT
FRI[1]=$EJECT
SAT[0]=$EJECT
SAT[1]=$EJECT
SUN[0]=$EJECT
SUN[1]=$EJECT

