#
# Format is 
# template1[:template2[:template3...]]
#
gegcfeu1-1_daily:gegcfeu1-2_daily:gegcfeu1-1_weekly:gegcfeu1-2_weekly
gemers70_daily:gemers70-1_daily:gemers70_weekly
gemers30_daily:gemers30_weekly
gegcfeu6_daily:gegcfeu6_weekly
gegcfeu4_daily:gegcfeu4_weekly
eu10_0_daily:eu10_0_weekly:eu10_1_daily:eu10_1_weekly:eu10_2_daily:eu10_2_weekly


   

	 	 	 	 	
