#
# node_name:data_source:class_name:instance_name:metric_name
#
:node_name
geaesap1
#
:data_source
SCOPE
#
#CPU
:class_name
GLOBAL
:instance_name
GLOBAL
:metric_name
GBL_CPU_TOTAL_UTIL
#MEM
GBL_MEM_UTIL
GBL_MEM_PAGE_REQUEST_RATE
#NETWORK
GBL_NET_PACKET_RATE
:class_name
NETIF
:instance_name
lan0
:metric_name
BYNETIF_IN_PACKET_RATE
:instance_name
lan3
:metric_name
BYNETIF_IN_PACKET_RATE
:instance_name
lan4
:metric_name
BYNETIF_IN_PACKET_RATE
#LVOLUME
:class_name
LVOLUME
:instance_name
/dev/vg01/lvsapdata1
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata4
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata7
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata10
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapput
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata14
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata15
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata16
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata17
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg01/lvsapdata18
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapmnt
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapsid
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapdata2
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapdata5
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapdata8
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapdata11
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsapdata13
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg02/lvsaparch
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsaplog1
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsaptrans
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsapdata3
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsapdata6
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsapdata9
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsapdata12
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE
:instance_name
/dev/vg03/lvsapreorg
:metric_name
LV_READ_RATE
LV_WRITE_RATE
LV_LOGL_READ
LV_LOGL_WRITE

:class_name
DISK
:instance_name
8/0.6.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.6.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.8.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.8.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.9.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.9.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.10.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.10.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.11.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.11.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.12.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.12.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.13.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.13.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.14.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/0.15.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.6.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.6.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.8.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.8.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.9.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.9.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.10.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.10.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.11.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.11.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.12.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.12.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.13.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.13.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.14.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/4.15.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.0.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.0.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.0.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.1.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.1.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.1.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.2.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.2.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.2.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.3.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.3.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.3.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.4.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.4.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.5.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.5.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.15.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.15.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/8.15.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.0.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.0.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.0.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.1.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.1.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.1.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.2.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.2.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.2.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.3.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.3.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.3.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.4.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.4.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.5.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.5.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.15.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.15.1
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
8/12.15.2
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/0.4.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/0.5.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/0.6.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/0.15.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/8.4.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/8.5.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/8.6.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/8.15.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE
:instance_name
10/12/5.2.0
:metric_name
BYDSK_PHYS_READ_RATE
BYDSK_PHYS_IO_RATE
BYDSK_PHYS_WRITE_RATE

:data_source
R3_KP2_00
:class_name
SAP R/3 KP2 00
:instance_name
SAP R/3 KP2 00
:metric_name
Dialog response time
Update response time
Batch response time

